# Directories
node_modules/
dist/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Dependency lock files
package-lock.json
yarn.lock

# macOS files
.DS_Store

# Logs and debugging files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Enviorment Variables
.env